<style>
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        padding: 0;
        margin: 0;
    }

    #notfound {
        position: relative;
        height: 80vh;
    }

    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .notfound {
        max-width: 520px;
        width: 100%;
        line-height: 1.4;
        text-align: center;
    }

    .notfound .notfound-404 {
        position: relative;
        height: 240px;
    }

    .notfound .notfound-404 h1 {
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 252px;
        font-weight: 900;
        margin: 0px;
        color: #262626;
        text-transform: uppercase;
        letter-spacing: -40px;
        margin-left: -20px;
    }

    .notfound .notfound-404 h1>span {
        text-shadow: -8px 0px 0px #fff;
    }

    .notfound .notfound-404 h3 {
        font-family: 'Cabin', sans-serif;
        position: relative;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #262626;
        margin: 0px;
        letter-spacing: 3px;
        padding-left: 6px;
    }

    .notfound h2 {
        font-family: 'Cabin', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #000;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    @media only screen and (max-width: 767px) {
        .notfound .notfound-404 {
            height: 200px;
        }

        .notfound .notfound-404 h1 {
            font-size: 200px;
        }
    }

    @media only screen and (max-width: 480px) {
        .notfound .notfound-404 {
            height: 162px;
        }

        .notfound .notfound-404 h1 {
            font-size: 162px;
            height: 150px;
            line-height: 162px;
        }

        .notfound h2 {
            font-size: 16px;
        }
    }



    body .btn-bgs.bg-2 .btnq-2 .buttonq {
        color: #78c98d;
        background: #d0f9c7;
        border: none;
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }

    body .btn-bgs.bg-2 .btnq-2 .buttonq:hover {
        background: transparent;
        color: #d0f9c7;
    }

    body .btn-bgs.bg-2 .btnq-2 .buttonq:hover:before,
    body .btn-bgs.bg-2 .btnq-2 .buttonq:hover:after {
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
        width: 100%;
    }

    body .btn-bgs.bg-2 .btnq-2 .buttonq:before,
    body .btn-bgs.bg-2 .btnq-2 .buttonq:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0px;
        width: 0px;
        height: 3px;
        background: #d0f9c7;
        transition: all 0.4s ease;
    }

    body .btn-bgs.bg-2 .btnq-2 .buttonq:after {
        top: inherit;
        left: inherit;
        bottom: 0;
        right: 0;
    }

    body .btn-bgs {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .buttonq {
        cursor: pointer;
        overflow: hidden;
        outline: none;
        color: #fff;
        position: relative;
        letter-spacing: 0.1em;
        font-weight: 400;
        padding: 1rem 3rem 1rem 3rem;
        text-transform: uppercase;
        font-family: "Lato";
        font-size: 0.8em;
    }

    .buttonq a {
        text-decoration: none;
    }

    .btn {
        margin: 0 auto 30px auto;
        display: block;
    }
</style>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Willkommen im Geheimen Bereich</h3>
            <div class="btn-bgs bg-2">
                <div class="btn btnq-2">
                    <a class="buttonq" id="buttonq" href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <h2></h2>
    </div>
</div>

<div class="container">
    <table class=" table table-striped" id="table">
        <thead>
            <tr>
                <th><strong>ID</strong></th>
                <th><strong>UUID</strong></th>
                <th><strong>Benutzername</strong></th>
                <th><strong>Email</strong></th>
                <th><strong>Mitglied seit:</strong></th>
            </tr>
        </thead>
        <tbody>
            {{#each result}}
            <tr>
                <td>{{id}}</td>
                <td>{{uuid}}</td>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td>{{timestamp_created}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>

    $("#buttonq").click(function () {
        $('html, body').animate({
            scrollTop: $("#table").offset().top
        }, 1000);
    });


</script>